@model IEnumerable<ShopHoa.Models.LoaiHoa>

@{
    ViewData["Title"] = "Quản lý loại hoa";
}

<div class="m-5  float-right">
    <a class="btn btn-outline-dark mt-auto" asp-action="Create">Thêm mới</a>
</div>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoaiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
